.depositphotos-230424992-stock-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon1 {
    position: absolute;
    top: 0px;
    left: 635px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon2 {
    position: absolute;
    top: 0px;
    left: 1270px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon3 {
    position: absolute;
    top: 213.33px;
    left: 0px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon4 {
    position: absolute;
    top: 213.33px;
    left: 635px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon5 {
    position: absolute;
    top: 213.33px;
    left: 1270px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon6 {
    position: absolute;
    top: 106.67px;
    left: 0px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon7 {
    position: absolute;
    top: 106.67px;
    left: 635px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon8 {
    position: absolute;
    top: 106.67px;
    left: 1270px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 320px;
}
.depositphotos-230424992-stock-group {
    position: absolute;
    top: 320px;
    left: 0px;
    width: 1920px;
    height: 320px;
}
.depositphotos-230424992-stock-container {
    position: absolute;
    top: 640px;
    left: 0px;
    width: 1920px;
    height: 320px;
}
.group-parent {
    width: 1920px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 0px;
    height: 960px;
    z-index: 0;
}
.group-wrapper {
    width: 1920px;
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 236px 511px;
    box-sizing: border-box;
    z-index: 0;
}
.contedo-child {
    position: absolute;
    height: 39.07%;
    width: 33.2%;
    top: 18.77%;
    right: 33.4%;
    bottom: 42.16%;
    left: 33.4%;
    filter: blur(141px);
    border-radius: 50%;
    background-color: #fff;
}
.cdigo-icon {
    position: absolute;
    top: 7px;
    left: 273px;
    width: 486px;
    height: 288px;
}
.cdigo-icon1 {
    position: absolute;
    top: 4px;
    left: 267px;
    width: 486px;
    height: 288px;
}
.cdigo-icon2 {
    position: absolute;
    top: 0px;
    left: 263px;
    width: 486px;
    height: 288px;
    object-fit: cover;
}
.a-pgina-pode {
    position: absolute;
    top: 45px;
    left: 0px;
}
.sua-pgina-no {
    position: absolute;
    top: 0px;
    left: 314px;
    font-size: 24px;
    color: #b70808;
}
.descrio {
    position: absolute;
    top: 320px;
    left: 0px;
    width: 1012px;
    height: 69px;
}
.contedo {
    width: 1012px;
    position: relative;
    height: 389px;
    z-index: 1;
}
.frame-parent {
    width: 1920px;
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 251px 454px;
    box-sizing: border-box;
    gap: 8px;
    z-index: 0;
}
.error-404-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 960px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.desenvolvimento {
    white-space: pre-wrap;
}
.aef {
    color: #fd0e0e;
}
.aefcoders {
    color: #fff;
}
.desenvolvimento-aefcoders-tx-container {
    width: 100%;
}
.desenvolvimento-aefcoders {
    position: absolute;
    top: 28.92px;
    left: calc(50% - 93px);
    line-height: 18.3px;
    display: flex;
    align-items: center;
    width: 185px;
    height: 19px;
}
.crditos {
    position: absolute;
    bottom: 0.1px;
    left: 0px;
    width: 1920px;
    height: 77.9px;
    overflow: hidden;
    text-align: center;
    font-size: 12.8px;
    color: #bfbfbf;
    font-family: Roboto;
}
.error-404 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 960px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #5b5b5b;
    font-family: Montserrat;
}

.depositphotos-230424992-stock-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon1 {
    position: absolute;
    top: 0px;
    left: 635px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon2 {
    position: absolute;
    top: 0px;
    left: 1270px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon3 {
    position: absolute;
    top: 213.33px;
    left: 0px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon4 {
    position: absolute;
    top: 213.33px;
    left: 635px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon5 {
    position: absolute;
    top: 213.33px;
    left: 1270px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon6 {
    position: absolute;
    top: 106.67px;
    left: 0px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon7 {
    position: absolute;
    top: 106.67px;
    left: 635px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-icon8 {
    position: absolute;
    top: 106.67px;
    left: 1270px;
    width: 650px;
    height: 106.7px;
    object-fit: cover;
}
.depositphotos-230424992-stock-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 320px;
}
.depositphotos-230424992-stock-group {
    position: absolute;
    top: 320px;
    left: 0px;
    width: 1920px;
    height: 320px;
}
.depositphotos-230424992-stock-container {
    position: absolute;
    top: 640px;
    left: 0px;
    width: 1920px;
    height: 320px;
}
.group-parent {
    width: 1920px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 0px;
    height: 960px;
    z-index: 0;
}
.error-404-mobile-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 776px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 236px 0px 236px 511px;
    box-sizing: border-box;
}
.image-icon {
    position: absolute;
    top: 168px;
    left: 13px;
    width: 334px;
    height: 219px;
    object-fit: cover;
}
.a-pgina-pode {
    position: absolute;
    top: 76px;
    left: 0px;
    display: inline-block;
    width: 305px;
}
.sua-pgina-no {
    position: absolute;
    top: 0px;
    left: 9px;
    font-size: 20px;
    display: inline-block;
    color: #b70808;
    width: 287px;
}
.descrio {
    position: absolute;
    top: 427px;
    left: 27px;
    width: 305px;
    height: 136px;
}
.error-404-mobile {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 776px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #5b5b5b;
    font-family: Montserrat;
}


