/* Global Styles */
body {
    background-color: black;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar */
  .navbar {
    height: 201px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding: 20px;
  }
  
  .dom-sex-08-00-19-00 {
    color: white;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .ironberg-id-logo-branco-2 {
    width: 139px;
    height: 115px;
    object-fit: cover;
  }
  
  /* Navigation Links */
  .nav-links ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    font-family: "Inter-Bold", sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #c80a2c; /* Optional hover effect */
  }
  
  /* Contact Button */
  .btn {
    background: #c80a2c;
    border-radius: 5px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact {
    color: white;
    font-family: "Inter-Bold", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .contact:hover {
    background-color: #ff4a6b; /* Optional hover effect */
  }
  
  .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    padding: 20px;
  }
  
  
  .bg,
  .bg * {
    box-sizing: border-box;
  }
  .bg {
    background: radial-gradient(
      closest-side,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    height: 806.39px;
    position: relative;
    overflow: hidden;
  }
  .background {
    background: radial-gradient(
      closest-side,
      rgba(240, 14, 14, 0) 0%,
      rgba(0, 0, 0, 0) 0%
    );
    width: 700px;
    height: 100%;
    position: absolute;
    left: 1920px;
    bottom: 0%;
    top: 0%;
  }
  .heading-2 {
    width: 650px;
    height: 110px;
    position: absolute;
    left: 50px;
    top: calc(50% - 106.45px);
  }
  .rectangle {
    width: 269.23px;
    height: 22.88px;
    position: absolute;
    left: 50px;
    top: calc(50% - -23.55px);
  }
  .link {
    border-radius: 160px;
    width: 153.53px;
    height: 40.02px;
    position: absolute;
    left: 50px;
    top: calc(50% - -66.43px);
  }
  .frame-12 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1920px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
  }
  .image-17 {
    align-self: stretch;
    flex-shrink: 0;
    height: 806.39px;
    position: relative;
    object-fit: cover;
  }
  .links {
    background: radial-gradient(
      closest-side,
      rgba(240, 14, 14, 0) 0%,
      rgba(0, 0, 0, 0) 0%
    );
    width: 700px;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0%;
    top: 0%;
  }
  .heading-2-black-army {
    color: #ffffff;
    text-align: left;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
    position: absolute;
    left: 50px;
    top: 324px;
    width: 360px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nosso-melhor-pre-o-com-at-30-off {
    color: #ff2020;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 22.88px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    top: 399px;
    width: 334px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .bot-o {
    background-color: white;
    border-radius: 160px;
    width: 163.89px;
    height: 40.02px;
    position: absolute;
    left: 50px;
    top: calc(50% - -38.93px);
  }
  .compre-agora {
    color: #000000;
    text-align: left;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 14px;
    line-height: 20.02px;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 11px;
    width: 104.25px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  
  
  
  
  
  
  
  
  .produtos,
  .produtos * {
    box-sizing: border-box;
  }
  .produtos {
    display: flex;
    flex-direction: column;
    gap: 107px;
    align-items: center;
    justify-content: flex-start;
    height: 920px;
    position: relative;
  }
  .produtos2 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 2261px;
    height: 840px;
    position: absolute;
    left: 0px;
    bottom: -25px;
  }
  .frame-51 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .frame-50 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .frame-49 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .produto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 442.5px;
    position: relative;
  }
  .frame-48 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .frame-42 {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 442.5px;
    height: 663.75px;
    position: relative;
  }
  .paragraph-background {
    background: #ffffff;
    border-radius: 5px;
    padding: 7px 9px 7px 9px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  ._20 {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 13.2px;
    font-weight: 400;
    position: relative;
    width: 25.93px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .off {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 10px;
    line-height: 11px;
    font-weight: 400;
    position: relative;
    width: 18.25px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading-3 {
    align-self: stretch;
    flex-shrink: 0;
    height: 16px;
    position: relative;
    overflow: hidden;
  }
  .regata-athleisure-dry-fit-chumbo {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 276.59px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-47 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 155.26px;
    position: relative;
  }
  .frame-46 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon2 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon3 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon4 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon5 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .frame-45 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .frame-43 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .de {
    color: #91979a;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    width: 14.59px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .r-149-90 {
    color: #91979a;
    text-align: left;
    font-family: "Roboto-Light", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-decoration: line-through;
    position: relative;
    width: 50.18px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .por {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    position: relative;
    width: 18.23px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .r-119-92 {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    position: relative;
    width: 52.27px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-44 {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .strong-10-x {
    color: #666666;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .produto2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 442.5px;
    position: relative;
  }
  .frame-41 {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 678.75px;
    position: relative;
  }
  .link {
    flex-shrink: 0;
    height: 678.75px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
  }
  .image-16 {
    border-radius: 5px;
    width: 442.5px;
    height: 662.75px;
    position: absolute;
    left: -0.5px;
    top: 0.61px;
    object-fit: cover;
  }
  .frame-40 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .camiseta-athleisure-dry-fit-gola-v-bronze {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 267.21px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-39 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 147.26px;
    position: relative;
  }
  .frame-38 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon6 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon7 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon8 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon9 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon10 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .frame-37 {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .frame-36 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .strong-10-x2 {
    color: #666666;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .produto3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 442.5px;
    position: relative;
  }
  .produto4 {
    flex-shrink: 0;
    width: 443px;
    height: 663px;
    position: relative;
    overflow: hidden;
  }
  .image-11 {
    border-radius: 5px;
    width: 442.5px;
    height: 662.75px;
    position: absolute;
    left: 0px;
    top: 0px;
    object-fit: cover;
  }
  .frame-33 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .camisa-supreme-army-preto {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240.61px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-32 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 99px;
    position: relative;
  }
  .frame-31 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .icon11 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon12 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon13 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon14 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon15 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .frame-30 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .frame-28 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .r-319-00 {
    color: #91979a;
    text-align: left;
    font-family: "Roboto-Light", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-decoration: line-through;
    position: relative;
    width: 50.18px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-29 {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .frame-34 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 65px;
    height: 28px;
    position: absolute;
    left: 5px;
    top: 4.38px;
  }
  .image-19 {
    border-radius: 5px;
    flex-shrink: 0;
    width: 442.5px;
    height: 662.75px;
    position: relative;
    object-fit: cover;
  }
  .camiseta-athleisure-dry-fit-gola-v-chumbo {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 276.59px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .icon16 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon17 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon18 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon19 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon20 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .paragraph-background2 {
    background: #ffffff;
    border-radius: 5px;
    padding: 7px 9px 7px 9px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: 6px;
    top: 5.39px;
  }
  .produto5 {
    flex-shrink: 0;
    width: 443px;
    height: 900px;
    position: relative;
    overflow: hidden;
  }
  .rectangle {
    width: 51.91px;
    height: 18px;
    position: absolute;
    left: 93.97px;
    top: calc(50% - -344.63px);
  }
  .link2 {
    height: 30px;
    position: absolute;
    right: 0.5px;
    left: 345.94000244140625px;
    top: 5px;
  }
  .frame-35 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 442.5px;
    position: absolute;
    left: 1px;
    top: 39px;
  }
  .produto6 {
    flex-shrink: 0;
    width: 442.5px;
    height: 678.75px;
    position: relative;
    overflow: hidden;
  }
  .frame-52 {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 81.18px;
    position: absolute;
    left: -2px;
    top: 4px;
  }
  .frame-53 {
    border-radius: 5px;
    padding: 5px 6px 5px 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 442.5px;
    height: 663.75px;
    position: relative;
  }
  .paragraph-background3 {
    background: #ffffff;
    border-radius: 5px;
    padding: 7px 9px 7px 9px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 66px;
    position: relative;
  }
  .frame-342 {
    margin: -12px 0 0 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 66px;
    height: 33px;
    position: relative;
  }
  .link3 {
    flex-shrink: 0;
    height: 678.75px;
    position: absolute;
    right: 0.5px;
    left: 0px;
    top: 0px;
    mix-blend-mode: hard-light;
  }
  .frame-332 {
    margin: -12px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .camiseta-supreme-army-bege {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240.61px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .icon21 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon22 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon23 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon24 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .icon25 {
    flex-shrink: 0;
    width: 14.86px;
    height: 16px;
    position: relative;
    overflow: visible;
  }
  .genero {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: 681px;
    top: 0px;
  }
  .mesculino {
    flex-shrink: 0;
    width: 234.83px;
    height: 67px;
    position: relative;
  }
  .masculino {
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 77.42px);
    top: 19px;
    width: 155.15px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .background {
    background: #ffffff;
    width: 100%;
    height: 3px;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 5px;
  }
  .feminino {
    flex-shrink: 0;
    width: 209.16px;
    height: 67px;
    position: relative;
  }
  .feminino2 {
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 64.58px);
    top: 19px;
    width: 129.46px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .background2 {
    background: #666666;
    width: 100%;
    height: 3px;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 5px;
  }
  